
.css-8se33f>:not(style) {
    margin: 8px;
    width: 1000px;
    height: 500px;
    background-color: #202020;
    color: white;
   
    padding: 1rem;
    word-spacing: 2 rem;
    
    
}
.Content {
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 1px;
    word-spacing: 1rem;
}