.demo-customized-menu{
    background-color: linear-gradient(to right, #e1037b 0%, #e90e00 40%, #0068e2 100%);
    color: black;
    background-color: #e1037b;
}
/* #marqe{
    color: #e90e00;
    width: 5rem;
} */


