.Content {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 1px;
}

.aboutus {
  color: white !important;
  border-radius: 1rem !important;
  margin: 1rem 0 1rem;
}

.about {
  padding: 0.5rem;
}
