.Logo {
  animation: fadein ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.incubation-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
  flex-direction: column;
  line-height: 2rem;
  text-align: center;
}

.apply {
  border-radius: 2rem !important;
  background: linear-gradient(to right, #ff7d04 0%, #ec3900 40%, #c6119e 100%);
}
.apply:hover {
  border-radius: 2rem !important;
  color: black;
  background: linear-gradient(to right, #f5e8db 0%, #e2dcda 40%, rgb(228, 218, 226) 100%);
}

.incubation {
  font-size: 2rem;
  font-weight: 800;
  background: linear-gradient(to right, #e1037b 0%, #e90e00 40%, #0068e2 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 1rem;
  animation: fadein ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
